{% extends 'main.html'%}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<div class="home-container"> 
    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        <h5>{{thread_count}} threads created</h5>
        <a href="{% url 'create_thread' %}">Create Thread</a>
        
        {% include 'base/feed_component.html' %}
        
    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>

    
</div>
{% endblock content %} 
 



{% comment %}
{% block content %}

 <style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container"> 
    <div>
        <h3>BROWSE TOPICS</h3>
        <hr>
        <div>
            <a href="{% url 'home' %}">ALL</a>
            <hr>
        </div>
        <h4>TITLE 1</h4>
        <ul>
            {% for topic in topics %}
                {% if topic.name == "Main Topic 1" %}
                    <li><strong>Main Topic: <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a></strong></li>
                {% endif %}
            {% endfor %}
        </ul>

        <h4>TITLE 2</h4>
        <ul>
            {% for topic in topics %}
                {% if topic.name == "Main Topic 2" %}
                    <li><strong>Main Topic: <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a></strong></li>
                    
                {% endif %}
            {% endfor %}
        </ul>

        <h4>TITLE 3</h4>
        <ul>
            {% for topic in topics %}
                {% if topic.name == "Main Topic 3" or  topic.name == "Main Topic 4" %}
                    <li><strong>Main Topic: <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a></strong></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Threads</h3>
        <hr>
        <h4>{{ thread_count }} threads created</h4>
        <a href="{% url 'create_thread' %}">Create Room</a>
        <div>
            {% for thread in threads %}
                <div>
                    <a href="{% url 'update_thread' thread.id %}">EDIT</a>
                    <a href="{% url 'delete_thread' thread.id %}">DELETE</a>
                    <span>@{{ thread.host.username }}</span>
                    <h3>{{ thread.id }} -- <a href="{% url 'thread' thread.id %}">{{ thread.name }}</a></h3>
                    <small>{{ thread.topic.name }}</small>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>    
</div>

{% endblock content %} {% endcomment %}

