{% extends 'main.html' %}
{% block content %}

<h1>ECU Socials</h1>

<!-- Form to submit a new post -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="id_image">Upload Image:</label>
        {{ form.image }}
    </div>
    <div>
        <label for="id_video">Upload Video:</label>
        {{ form.video }}
    </div>
    <div>
        <label for="id_caption">Caption:</label>
        {{ form.caption }}
    </div>
    <button type="submit">Post</button>
</form>
<hr>


<!-- Display existing posts -->
<div>
    {% for post in posts %}
    <div>
        <p>Posted by {{ post.user.username }} {{ post.timestamp|timesince }} ago</p>
        
        
        {% if post.image %}
        <div class="post-image">
            <img src="{{ post.image.url }}" alt="Post Image" height="20%" width="20%">
        </div>
        {% endif %}
        
        {% if post.video %}
        <video controls height="240">
                <source src="{{ post.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% endif %}
        
        
        <p>{{ post.caption }}</p>
        {% if request.user == post.user %}
        <a href="{% url 'delete_social_post' post.pk %}">Delete</a>
        {% endif %}
    </div>
    <hr>
{% endfor %}
</div>

<style>
    .post-image img {
        width: 30%;
        height: 30%;
    }
</style>

{% endblock %}
