{% extends 'main.html'%}

{% block content %}

<style>
    .thread-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
<div class="thread-container">

    <div>

    
        <h1>{{thread.name}}</h1>
        <p>{{thread.description}}</p>

        <div class="comment-container">
            <h3>Conversation</h3>
            <hr>

            {% for comment in thread_comments %}
                <div>
                    {% if request.user == comment.user%}
                    <a href="{% url 'delete_comment' comment.id %}">DELETE</a>
                    {% endif %}
                    <small>@{{comment.user}}  {{comment.created|timesince}} ago</small>
                    <p>{{comment.body}}</p>
                    <hr>
                </div>
                
            {% endfor %}

        </div>

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your comment...">

            </form>
        </div>
        {% endif %}
    </div>
    <div>
        <h3>Participants</h3>
        <hr>

        {% for user in participants %}
        <div>
            <p>
                @{{user.username}}
            </p>
        </div>

        {% endfor %}
    </div>

</div>
{% endblock content %}