

        <div class="topics">
            <div class="topics__header">
              <h2>Browse Topics</h2>
            </div>
            <ul class="topics__list">
                <li>
                    <a href="{% url 'home' %}" class="active">All <span>{{topics.count}}</span></a>
                </li>
              <li>
                <h4>NEWS & ANNOUNCEMENTS</h4>
                <hr>
                <ul>
                  {% for topic in topics %}
                    {% if topic.name == "General Announcements" or topic.name == "Educational Engagements"  %}
                      <li><strong><a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}<span>{{topic.thread_set.all.count}}</span></a></strong></li>
                    {% endif %}
                  {% endfor %} 
                </ul>
              </li>
              <li>
                <h4>EVENTS</h4>
                <hr>
                <ul>
                  {% for topic in topics %}
                  {% if topic.name == "University Events" or topic.name == "Student Events"  %}
                      <li><strong><a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}<span>{{topic.thread_set.all.count}}</span></a></strong></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
              <li>
                <h4>GROUP FORMATIONS</h4>
                <hr>
                <ul>
                  {% for topic in topics %}
                  {% if topic.name == "Project Group Requests" or topic.name == "Study Group Formations"  %}
                      <li> <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}<span>{{topic.thread_set.all.count}}</span></a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
              <li>
                <h4>COURSE ROOMS</h4>
                <hr>
                <ul>
                  {% for topic in topics %}
                  {% if topic.name == "Software Engineering U65" or topic.name == "Cyber Security Y89"  %}
                      <li><strong><a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}<span>{{topic.thread_set.all.count}}</span></a></strong></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            </ul> 
            <a class="btn btn--link" href="topics.html">
              More
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>chevron-down</title>
                <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
              </svg>
            </a>
          </div> 